//output:index.html
doctype html
html(lang='nl')
  head
    title Responsive Test
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    //link(rel='stylesheet' href='css/main.css')
    link(rel='stylesheet' href='css/main2.css')

  body
    div.header
      a(href='#over') Over
      a(href='#functies') Functies
      a(href='#contact') Contact

    div.content
      div.container
        div.kicker
          div.column-whole
            p.big-name JM-ADVIES
            i
              p Projecten en Processen onder controle
            a(href='#over').cta kijk verder.

        div(id='over').about
          div.column-whole
            h1 over
            p   Mijn naam is Jaap Molenaar. Ik ben een zelfstandig  consultant met ruime ervaring op het gebied van Project support en Operationele  besturing.
            p Graag help ik u met een goede beheersing van Projecten,  Programmas of Projecten Portfolio of de besturing en verbetering van operationele  processen in een reguliere business organisatie.
